@import "geral.css";

.header-bg{
  background-color: #000000;
  padding: 40px;
}

.header{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-menu{
  display: flex;
  gap: 0px 40px;
  flex-wrap: wrap;
}

.header-menu a{
  color: #ffffff;
  padding: 16px 0px;
  font-size: 1.125rem;
  position: relative;
}

.header-menu a::after{
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after{
  width: 100%;
}

@media (max-width: 800px){
  .header{
    display: block;
    text-align: center;
  }
  
  .header-menu{
    justify-content: center;
  }

  .header-menu a{
    display: inline-block;
    padding: 12px 16px;
    background-color: #111111;
    margin-top: 10px;
    border-radius: 5px;
  }

  .header-menu a:hover{
    background-color: #2e2e2e;
  }

  .header-menu a::after{
    display: none;
  }
}

@media (max-width: 450px){
  .header-menu{
    flex-wrap: wrap;
    gap: 10px 25px;
  }

  .header-menu a{
    font-size: .875rem;
  }
}

.container-bg{
  background-color: #000000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.container-conteudo{
  align-self: end;
  padding-bottom: 200px;
}

.container-conteudo h1{
  margin-bottom: 32px;
  font: 600 4rem/1.35 "Poppins", sans-serif;
  line-height: 72px;
}

.container-conteudo span {
  color: #ffbb00;
}

.container-conteudo p{
  margin-bottom: 20px;
  font: 400 1.5rem/1.5 "Roboto", sans-serif;
  color: #b2b2b2;
}

.container-conteudo a{
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  padding: 16px 32px;
  border-radius: 5px;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  color: #332200;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.container-conteudo a:hover {
  background: #e4a30b;
}

.container-bg{
  box-shadow: inset 0px -120px rgb(255, 255, 255); 
}

.container img{
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1150px) {

  .container-conteudo h1{
    margin-bottom: 24px;
    font-size: 3rem;
    line-height: 54px;
  }  
}


@media (max-width: 900px) {
  .container-bg{
    background-color: #111111;
  }

  .container{
    grid-template-columns: 1fr;
  }

  .container a{
    padding: 12px 16px;
    font-size: 1rem;
  }

  .container-conteudo p{
    font-size: 1rem;
  }    

  .container-conteudo{
    padding: 30px;
  }

  .container img{
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 550px) {

  .container-conteudo h1{
    margin-bottom: 12px;
    font-size: 2rem;
    line-height: 34px;
  }
}

@media (max-width: 290px) {

  .container{
    padding: 0px 20px;
  }
}