.lista-bicicletas{
  padding: 10px 0 120px 0;
}

.lista-bicicletas h2{
  flex-wrap: wrap;
}

.bicicleta-itens{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 20px 20px;
  overflow-x: auto;
}

.bicicleta-itens li{
  min-width: 280px;
}

.bicicleta-itens a{
  display: block;
}

.bicicleta-itens img{
  margin-bottom: 16px;
}

.bicicleta-itens h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicleta-itens h3::before{
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
  transition: 0.3s;
}

.bicicleta-itens a:hover h3::before{
  width: 20px;
}

.bicicleta-itens li span{
  padding-left: 24px;
}

@media (max-width: 800px) {
  .lista-bicicletas{
    padding-bottom: 60px;
  }
  .bicicleta-itens{
    gap: 20px;
  }
}

