.container-bg{
  background-color: var(--cor-12);
}

.container-secao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.container-conteudo{
  align-self: end;
  padding-bottom: 200px;
}

.container-conteudo p{
  margin: 32px 0px 20px 0px;
}

.container-bg{
  box-shadow: inset 0px -120px rgb(255, 255, 255); 
}

.container-secao img{
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1150px) {
  .container-conteudo h1{
    margin-bottom: 24px;
  }  
}

@media (max-width: 900px) {
  .container-bg{
    background-color: var(--cor-11);
  }
  .container-secao{
    grid-template-columns: 1fr;
  }
  .container-conteudo{
    padding: 30px 0px;
  }
  .container-secao img{
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 550px) {
  .container-conteudo h1{
    margin-bottom: 12px;
  }
}
